.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content p:first-child {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content p {
        flex: 1;
        text-align: center;
    }

    .footer-content p:first-child {
        text-align: left;
    }

    .footer-content p:last-child {
        text-align: right;
    }
}
