.skillset {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 3rem; /* Gap between grid items */
  }

.abc{
    display: flex;
    margin-bottom: 2rem;
}

#skills h3{
    min-width: 15vw;
}