main {
    background: #5e0084;
}



#intro {
    min-height: fit-content;
    display: flex;
    flex: 1;
    justify-content: start;
    padding-top: 10rem;
    padding-left: 25%;
    margin-bottom: 10%;
    gap: 4rem;
}

#intro img {
    width: 20%;
    height: 30rem;
}

#intro #text {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    flex: 1;
    color: white;
}

#intro h1,
#intro p {
    margin: 0;
}

#aboutme,
#education,
#projects,
#contact,
#skills,
#extra {
    flex-direction: column;
    display: flex;
    padding: 0 10rem;
    margin: 5rem 0;
    color: white;
}

#aboutme {
    font-size: 20px;
    position: relative;
    z-index: 1;
    /* Ensure it's behind the cover */
}

.coveraboutme {
    animation: coverAnimate 2s cubic-bezier(0, 0.5, 0, 1) 2.5s;
    width: 80%;
    position: absolute;
    background-color: #5e0084;
    min-height: 50vh;
    z-index: 1;

}

.coveraboutme{
    min-height: 50vh;
    z-index: 1;
}

.coverheader {
    background-color: gold;
    animation: magicLine 2s linear;
    /* Add a delay of 10 seconds before starting the disappear animation */
    height: 4px;
    position: absolute;
}

.aboutheader{
    z-index: 2;
}

@keyframes coverAnimate {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(50vh);
    }
}

@keyframes magicLine {
    0% {
        width: 0px;
    }

    100% {

        width: 80%;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#prof_title:after {
    content: "";
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        content: "Web Developer";

    }

    33% {
        content: "AI Developer";

    }

    66% {
        content: "Data Analyst";

    }

    100% {
        content: "Web Developer";

    }
}