main {
    background: #5e0084;
    overflow-y: hidden;
}

#prof_title:after {
    content: "";
    animation: spin 4s linear infinite;
}


#intro {
    min-height: fit-content;
    display: flex;
    flex: 1;
    justify-content: start;
    padding-top: 10rem;
    padding-left: 25%;
    margin-bottom: 10%;
    gap: 4rem;
}

#intro img {
    width: 100%;
    height: 30rem;
}

#profilecover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 12%;
    background:linear-gradient( rgb(255 255 255 / 33%),rgba(0, 0, 0, 0.33));
}



#intro #text {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    flex: 1;
    color: white;
}

#intro h1,
#intro p {
    margin: 0;
}

#aboutme,
#education,
#projects,
#contact,
#skills,
#extra {
    flex-direction: column;
    display: flex;
    flex: 1;
    padding: 0 11rem;
    margin: 10rem 0;
    color: white;
    opacity: 0.8;
    max-width: 78vw;
}

#aboutme {
    font-size: 20px;
    position: relative;
    z-index: 1;
    /* Ensure it's behind the cover */
}

.cover {
    width: 80%;
    position: absolute;
    background-color: #5e0084;
    z-index: 1;
    
}

.coveraboutme {
    animation: coverAbout 2s cubic-bezier(0, 0.5, 0, 1) 1.5s forwards,coverborder 0.1ms  1.3s forwards;
    min-height: 50vh;
    z-index: 1;
}



.coverheader {
    background-color: gold;
    animation: magicLine 1.3s cubic-bezier(0.3, 0, 0.7, 1);
    /* Add a delay of 10 seconds before starting the disappear animation */
    height: 4px;
    position: absolute;

}

.aboutheader {
    z-index: 2;
}

@keyframes coverAbout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(50vh);
    }
}

@keyframes magicLine {
    0% {
        width: 0px;
    }

    100% {
        width: 78vw;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes coverborder{
    0%{
        border-top: 0;
    }
    100%{
        border-top: gold 4px solid;
    }

}

.invisible{
    opacity: 0;
}


@keyframes comesvisible {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@keyframes spin {
    0% {
        content: "Web Developer";

    }

    33% {
        content: "AI Developer";

    }

    66% {
        content: "Data Analyst";

    }

    100% {
        content: "Web Developer";

    }
}


#education {
    position: relative;
    z-index: 2;
}



.covereducation {
    animation: coverEducation 2s cubic-bezier(0, 0.5, 0, 1) 2.5s forwards,coverborder 0.1ms  1.3s forwards;
    min-height: 80vh;
    z-index: 1;
}

.educationheader {
    z-index: 2;
}

@keyframes coverEducation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(80vh);
    }
}




#skills {
    position: relative;
    z-index: 4;
}

.coverskills {
    animation: coverSkills 2s cubic-bezier(0, 0.5, 0, 1) 2.5s forwards,coverborder 0.1ms  1.3s forwards;
    min-height: 50vh;
    z-index: 1;
}

.skillsheader {
    z-index: 2;
}

@keyframes coverSkills {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(50vh);
    }
}


#projects {
    position: relative;
    z-index: 4;
}

.coverprojects {
    animation: coverProjects 2s cubic-bezier(0, 0.5, 0, 1) 2.5s forwards,coverborder 0.1ms  1.3s forwards;
    min-height: 77vh;
    z-index: 1;
}

.projectsheader {
    z-index: 2;
}

@keyframes coverProjects {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(77vh);
    }
}


#contact,
#extra {
    position: relative;
    z-index: 5;
}




#html,#react,#next{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 rows with equal height */
    grid-auto-rows: auto;
    grid-gap: 30% 10%; /* Adjust the gap between grid items */
    z-index: 3;
    
}